/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
body {
  color: #343434;
  width: 905;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5; /*150%*/
}
img {
  width: 300px;
}
h1{
  font-size: 100px;

}
h2 {
  font-size: 45px;
  line-height: 1;
}
h1,h2 {
  font-family: 'Actor', sans-serif;
  font-size: 2em;
  line-height: 2em;
  font-weight: 400;
  margin: 0;
}
h1,h2,h3,h4,h5 {
  margin: 0;
}


/* Profile
------------------------------------*/
header {
  background: #2F3061;
  color: #F7FFF7;
}


/* Content Wrapper
------------------------------------*/
.content-wrap {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}



/* Projects
------------------------------------*/
.teaching {
  background: #F7FFF7;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #A1C6D7;
}


/* Education
------------------------------------*/
.education {
  background: #FFE66D; /* yellow */
}

/* Skills
------------------------------------*/
.skills {
  background: #A7FF80; /* - Parrot Green */
}

.btn{
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px;
  margin-left: 2px;
  margin-right: 2px;
}
a.btn:hover {
  background-color: #A1C6D7; /* blue light*/
}

/* Contact Info
------------------------------------*/
footer {
  background: #2F3061; /* blue dark */
  color: white;
}
